<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyq.customview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".blur.BlurActivity"></activity>
        <activity android:name=".nineLayout.NineImageLayoutActivity" />
        <activity android:name=".flowLayout.FlowLayoutActivity" />
        <activity android:name=".paintView.PaintViewActivity" />
        <activity android:name=".drawText.DrawTextActivity" />
        <activity android:name=".shadowLayout.ShadowLayoutActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>